/* HomePage.css */

body {
  background-color: whitesmoke;
}

.container {
  background-color: whitesmoke;
  padding: 15px;
}

.title {
  color: darkgreen;
  font-size: 50px;
  font-weight: bold;
}

.input-container {
  margin-top: 20px; 
  display: block;
}

.subtitle {
  margin-top: 10px;
  color: darkgreen;
  font-size: 24px;
  font-weight: bold;
  margin-left: 40px;
}

.response {
  margin-top: 10px;
  color: green;
  font-size: 24px;
  font-weight: bold;
  margin-left: 20px;
}

.textValue {
  color: black;
  font-size: 10px;
  margin-left: 20px;
  width: 400px;
}

.success-message {
  color: darkgreen;
  font-size: 24px;
  font-weight: bold;
  margin-top: 30px;
}

.error-message {
  color: red;
  font-size: 24px;
  font-weight: bold;
  margin-top: 30px;
}

/* Add styles to the input elements */
input[type='text'],
input[type='submit'],
input[type='password'] {
  font-size: 15px;
  padding: 5px;
  border: 1px solid black;
  border-radius: 5px;
}

input[type='submit'] {
  margin-left: 15px;
  background-color: #D3D3D3;
  color: green;
}