body {
  background-color: white;
}

.container {
  background-color: white;
  padding: 15px;
}

.username {
  margin-top: 10px;
  color: black;
  font-size: 40px;
  font-weight: bold;
  margin-right: 40px;
}

.mobilenumber {
  margin-top: 10px;
  color: black;
  font-size: 15px;
  margin-right: 40px;
}

.emailaddress {
  margin-top: 10px;
  color: black;
  font-size: 15px;
}

.title {
  color: black;
  font-size: 50px;
  font-weight: bold;
}

.input-container {
  margin-top: 20px; 
  display: block;
  color: black;
  font-size: 24px;
  font-weight: bold;
}

.mobilelogo {
  max-width: 1%;
}

.subtitle {
  margin-top: 10px;
  color: black;
  font-size: 24px;
  font-weight: bold;
  margin-left: 40px;
}

.summary {
  color: black;
  font-size: 15px;
}

.summarytextarea {
  width: 85%;
  height: 200px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: none;
}

.textValue {
  color: black;
  font-size: 10px;
  margin-left: 20px;
  width: 400px;
}

.error-message {
  color: red;
  font-size: 24px;
  font-weight: bold;
  margin-top: 30px;
}

/* Add styles to the input elements */
input[type='text'],
input[type='submit'],
input[type='password'] {
  font-size: 15px;
  padding: 5px;
  border: 1px solid black;
  border-radius: 5px;
}

input[type='submit'] {
  margin-left: 15px;
  background-color: #D3D3D3;
  color: green;
}
